:root {
    --tab-border-radius: 0 !important;
    --tab-block-margin: 0 !important;
}

:root[uidensity="compact"] {
    --tab-min-height: 20px !important;
    --tab-border-radius: 0 !important;
    --tab-block-margin: 0 !important;
}

#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    height: initial !important; 
}
